<div id="mobileMenu"> 
	<div class="mobileMenuContainer">
		{% include 'mobile-header-search' %}
		<div class="mobileMenuBody">
			<div class="accordion" id="mobileMenuAcc">
			  <div class="card">
			    <div class="card-header" id="headingOne">
			      <h2 class="mb-0">
			        <!--	<button onclick="location.href='/collections/all'"	-->
                    <button class="mobileMenuAccHeader collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			          Shop by Product <!--	HIDE	--><div class="collapseIcon"></div><!--	END HIDE	-->
			        </button>
			      </h2>
			    </div>

			    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#mobileMenuAcc">
			      <div class="card-body">
                    <!--	HIDE	-->
                    
			        <ul class="list-unstyled m-0">
			        	<li class="list-unstyled-item text-uppercase">
			        		<span>Body</span>
			        	</li>
		                <li class="list-unstyled-item">
		                	<a class="py-1" href="/collections/all/products/the-daily-vaginal-lotion-applicator">Daily Vaginal Lotion & Applicator</a>
		                </li>
		                <li class="list-unstyled-item">
		                	<a class="py-1" href="/products/the-kindra-applicator">Aurora Applicator</a>
		                </li>
		                
			        </ul>

			        <hr>

			        <ul class="list-unstyled m-0">
			        	<li class="list-unstyled-item text-uppercase">
			        		<span>Peri/menopause Supplements</span>
			        	</li>
			        	<li class="list-unstyled-item">
			        		<a class="py-1" href="/products/the-core-dietary-supplement">Core Supplement</a>
			        	</li>
			        	<li class="list-unstyled-item">
			        		<a class="py-1" href="/products/energy-boosting-dietary-supplement">Energy Supplement</a>
			        	</li>
			        	<li class="list-unstyled-item">
			        		<a class="py-1" href="/products/sleep-enhancing-dietary-supplement">Sleep Enhancing Supplement</a>
			        	</li>
			        </ul>

			        <hr>

			        <ul class="list-unstyled m-0">
			        	<li class="list-unstyled-item text-uppercase">
			        		<span>Bundle & Save</span>
			        	</li>
			        	<li class="list-unstyled-item">
			        		<a class="py-1" href="/products/the-full-regimen">The Full Regimen</a>
			        	</li>
			        	<li class="list-unstyled-item">
			        		<a class="py-1" href="/products/the-essentials-bundle">Essentials Bundle</a>
			        	</li>
			        </ul>

			        <hr>

			        <ul class="list-unstyled m-0">
			        	<li class="list-unstyled-item">
			        		<a href="/collections/all">Shop All Kindra</a>
			        	</li>
			        </ul>
				
                    <!--	END HIDE	-->
			      </div>
			    </div>
              </div>
              

			  <div class="card">
			    <div class="card-header" id="headingSix">
			      <h2 class="mb-0">
			        <button class="mobileMenuAccHeader collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			          Shop by Concern <div class="collapseIcon"></div>
			        </button>
			      </h2>
			    </div>
			    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#mobileMenuAcc">
			      <div class="card-body">

			        <ul class="list-unstyled m-0">
						<li class="list-unstyled-item"><a class="py-1" href="/collections/low-sex-drive">Low Libido</a></li>
                      	<li class="list-unstyled-item"><a class="py-1" href="/collections/vaginal-dryness">Vaginal Dryness</a></li>
                      	<li class="list-unstyled-item"><a class="py-1" href="/collections/brain-fog">Brain Fog</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/collections/disrupted-sleeping">Trouble Sleeping</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/collections/fatigue">Fatigue</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/collections/hot-flashes-1">Hot Flashes</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/collections/irritability">Irritability</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/collections/mood-swings">Mood Swings</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/collections/night-sweats">Night Sweats</a></li>
                      	<li class="list-unstyled-item"><a class="py-1" href="/collections/sad-or-anxious">Sad or Anxious</a></li>
    	                <li class="list-unstyled-item"><a class="py-1" href="/collections/skin-dryness">Skin Dryness</a></li>
                        <li class="list-unstyled-item"><a class="py-1" href="/collections/stress">Stress</a></li>
			        </ul>

			        <hr>

			        <ul class="list-unstyled m-0">
			        	<li class="list-unstyled-item">
			        		<a class="py-1" href="/collections/all/">Shop all Concerns</a>
			        	</li>
			        </ul>

			      </div>
			    </div>
			  </div>
              
			  <div class="card">
			    <div class="card-header" id="headingTwo">
			      <h2 class="mb-0">
			        <button onclick="location.href='/products/the-toolbox'" class="mobileMenuAccHeader collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Shop the Toolbox
			        </button>
			      </h2>
			    </div>
			    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#mobileMenuAcc">
			      <div class="card-body">

			      </div>
			    </div>
			  </div>
              
			  <div class="card">
			    <div class="card-header" id="headingTwo">
			      <h2 class="mb-0">
			        <button onclick="location.href='/pages/hormoneassessment'" class="mobileMenuAccHeader collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Take the Quiz
			        </button>
			      </h2>
			    </div>
			    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#mobileMenuAcc">
			      <div class="card-body">

			      </div>
			    </div>
			  </div>
              
			  <div class="card">
			    <div class="card-header" id="headingFour">
			      <h2 class="mb-0">
			        <button class="mobileMenuAccHeader collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          Kindra Journal <div class="collapseIcon"></div>
			        </button>
			      </h2>
			    </div>
			    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#mobileMenuAcc">
			      <div class="card-body">

			        <ul class="list-unstyled m-0">
						<li class="list-unstyled-item"><a class="py-1" href="/blogs/journal/tagged/menopause-101">Menopause 101</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/blogs/journal/tagged/mind">Mind</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/blogs/journal/tagged/body">Body</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/blogs/journal/tagged/sex">Sex</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/blogs/journal/tagged/hormones">Hormones</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/blogs/journal/tagged/healthy-living">Healthy Living</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/blogs/journal/tagged/personal-stories">Personal Stories</a></li>
						<li class="list-unstyled-item"><a class="py-1" href="/blogs/journal/tagged/community">Community</a></li>
			        </ul>

			        <hr>

			        <ul class="list-unstyled m-0">
			        	<li class="list-unstyled-item">
			        		<a class="py-1" href="/blogs/journal/">See all Journal</a>
			        	</li>
			        </ul>

			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingFive">
			      <h2 class="mb-0">
			        <button onclick="location.href='/account'" class="mobileMenuAccHeader collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			          Account
			        </button>
			      </h2>
			    </div>
			    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#mobileMenuAcc">
			      <div class="card-body">

			      </div>
			    </div>
			  </div>
			</div>
		</div>
      <!--	HIDE	-->
      
		<div class="mobileMenuFooter px-4">
			<ul class="list-unstyled">
				<li class="list-unstyled-item">
					<a href="/pages/about">Our Story</a>
				</li>
				<li class="list-unstyled-item">
					<a href="https://ourkindra.com/pages/refer?/" target="_blank">Give $10</a>
				</li>
				<li class="list-unstyled-item">
					<a href="/pages/faq">FAQs</a>
				</li>
			</ul>
			<ul class="list-inline mobileMenuSocial">
				<li class="list-inline-item">
					<a href="https://www.instagram.com/ourkindra" class="p-3" target="_blank">
						<img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0444/2990/1988/files/social-Instagram.svg?v=1601326641" alt="">
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://www.facebook.com/groups/OurKindra/" class="p-3" target="_blank">
						<img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0444/2990/1988/files/social-Facebook.svg?v=1601326641" alt="">
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://www.pinterest.com/ourkindra/" class="p-3" target="_blank">
						<img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0444/2990/1988/files/social-Pinterest.svg?v=1601326641" alt="">
					</a>
				</li>
			</ul>
		</div>
      
      <!--	END HIDE	-->
	</div>
</div>